.ArticleList {
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.grid {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}

.row {
  display: flex;
  gap: 20px;
}
