.menu {
  position: absolute;
  background: var(--card-bg);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.item {
  background: none;
  outline: transparent;
  color: var(--primary-color);
  border: none;
  padding: 10px 25px;
  min-width: 100px;
}
