.button {
  padding: 0 4px;
}

.disabledBtn {
  border-color: transparent;
  cursor: default;

  &:hover {
    opacity: 1;
  }
}

.items {
  position: absolute;
  z-index: 100;
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  min-width: 100%;
}

.item {
  padding: 10px 24px;
}

.checkIcon {
  width: 16px;
  height: 16px;
  fill: var(--primary-color);
  flex-shrink: 0;
  margin-left: -20px;
}
