.inputWrapper {
  // font: var(--primary-color);
  display: flex;
  color: var(--primary-color);
}

.placeholder {
  font: inherit;
  margin-right: 5px;
  flex-grow: 0;
}

.input,
.caretInput {
  width: 100%;
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.caret {
  font: inherit;
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  left: 0;
  bottom: 1px;
  position: absolute;
  animation: blink 1s forwards infinite;
}

/* stylelint-disable-next-line no-descending-specificity */
.caretInput {
  left: 0;
  bottom: -2px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  animation: blink 1s forwards infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
