.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity;
  font-family: var(--font-family-main);
}

.content {
  max-width: calc(min(600px, 80%));
  background: var(--bg-color);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 20px;
  transform: scale(0);
  transition: 0.3s transform;
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: all;
  transform: scale(1);

  .content {
    transform: scale(1);
  }
}

.closing {
  opacity: 0;

  .content {
    transform: scale(0);
  }
}
